.header {
    background-image:  url("../../images/space2.jpg");
    /*background: linear-gradient(72deg, #1FA2FF ,#12D8FA, #A6FFCB);*/
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1.45rem;
    font-size: 200px;
}

.headerInner {
    margin: 0 auto;
    max-width: 960;
    padding-top: 2.45rem;
    padding-bottom: 1rem;
    padding-left: 1.0875rem;
}